.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  stroke: var(--feature-svg-color);
  fill: var(--feature-svg-color);
  width: 200px;
}

.featureCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center ;
  padding-top: 0 var(--ifm-spacing-horizontal);
}