.me {
  font-size: 1.1rem;
  text-align: center;
}

.border {
  margin: 1rem;
  padding: 1rem;
  border-width: 3px;
  border-style: solid;
  border-image:
    linear-gradient(
      to bottom,
      var(--ifm-color-primary),
      rgba(0, 0, 0, 0)
    ) 1 100%;
}
